In [11]:
import pandas as pd

In [12]:
y = pd.read_csv("dis_sim.csv")
y.head()

                 disease_A                   disease_B  s_AB (observed)
0  abnormalities, multiple  actinomycetales infections         0.810442
1  abnormalities, multiple              adenocarcinoma         0.306936
2  abnormalities, multiple            adnexal diseases         0.366111
3  abnormalities, multiple      adrenal gland diseases         0.649266
4  abnormalities, multiple                 albuminuria         0.212946

In [13]:
dis_fea = pd.read_csv("dis_fea.csv")
dis_fea["Unnamed: 0"] = dis_fea["Unnamed: 0"].str.lower()
dis_fea.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,312,313,314,315,316,317,318,319,320,321
0,postoperative complications,77.405877,45.274396,137.051962,116.979213,109.871700,81.379911,170.673499,7.243573,156.893356,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.654206,0.0
1,brain diseases,17.457496,25.038113,22.643368,64.369514,594.997516,269.792098,33.302146,356.745994,45.549684,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
2,pain,16235.800255,48.704274,193.660381,96.554271,48.174515,387.439144,69.101953,23.541614,92.786393,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
3,cerebral infarction,50.396166,26.753052,16.684587,40.230946,185.091557,107.032275,75.762382,9.959914,16.026741,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
4,epilepsy,31.950511,50.076226,3.575269,58.180137,2045.303960,114.993353,46.623004,808.563889,37.114557,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0

In [7]:
dis_fea.shape

(4219, 323)

In [8]:
dis_fea.loc[dis_fea["Unnamed: 0"]=="Abnormalities, Multiple"]

Empty DataFrame
Columns: [Unnamed: 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, ...]
Index: []

[0 rows x 323 columns]

### Construct the input of the ML model and concatenate the symptom vectors of the disease pairs

In [4]:
dis_mat = pd.DataFrame()
for i in range(len(y)):
    disA = y.loc[i,"disease_A"]
    disB = y.loc[i,"disease_B"]
    
    disA_fea = dis_fea.loc[dis_fea["Unnamed: 0"]==disA]
    disB_fea = dis_fea.loc[dis_fea["Unnamed: 0"]==disB]
    if len(disA_fea)==0:
        print(disA)
        continue
    if len(disB_fea)==0:
        print(disB)
        continue
    
    #reset index
    disA_fea.index = [i]
    disB_fea.index = [i]
    disAB_fea = pd.concat([disA_fea.iloc[:,1:],disB_fea.iloc[:,1:]],axis = 1)
    #print(disAB_fea)
    dis_mat = dis_mat.append(disAB_fea)

In [13]:
#dis_mat.to_csv("dis_fea_mat.csv")

In [5]:
y.loc[i,"disease_A"]

'abnormalities, multiple'

In [6]:
test = [1,2,3,3] +["ad","da"]
test

[1, 2, 3, 3, 'ad', 'da']

In [9]:
disA_fea = dis_fea.loc[dis_fea["Unnamed: 0"]==disA]
print(type(disA_fea))
print(len(disA_fea))

<class 'pandas.core.frame.DataFrame'>
1

In [10]:
disA_fea.index = [i]
disB_fea.index = [i]
disAB_fea = pd.concat([disA_fea.iloc[:,1:],disB_fea.iloc[:,1:]],axis = 1)
disAB_fea

,0,1,2,3,4,5,6,7,8,9,...,312,313,314,315,316,317,318,319,320,321
4,1.646934,16.806405,21.451611,11.759815,115.787869,2.653693,93.246009,2261.805817,5.061076,18.577704,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
dis_mat.head()

,0,1,2,3,4,5,6,7,8,9,...,312,313,314,315,316,317,318,319,320,321
0,1.646934,16.806405,21.451611,11.759815,115.787869,2.653693,93.246009,2261.805817,5.061076,18.577704,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.646934,16.806405,21.451611,11.759815,115.787869,2.653693,93.246009,2261.805817,5.061076,18.577704,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.646934,16.806405,21.451611,11.759815,115.787869,2.653693,93.246009,2261.805817,5.061076,18.577704,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.646934,16.806405,21.451611,11.759815,115.787869,2.653693,93.246009,2261.805817,5.061076,18.577704,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.646934,16.806405,21.451611,11.759815,115.787869,2.653693,93.246009,2261.805817,5.061076,18.577704,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
dis_mat.shape

(5, 644)

### 44,551 disease similarities and 35,245 disease pairs with symptom feature (datasets)