In [1]:
import numpy as np
import pandas as pd

In [2]:
ori_matA = pd.read_csv("../disA_fea_mat.csv",index_col=0)
ori_matA.head()

,0,1,2,3,4,5,6,7,8,9,...,312,313,314,315,316,317,318,319,320,321
43,1.646934,16.806405,21.451611,11.759815,115.787869,2.653693,93.246009,2261.805817,5.061076,18.577704,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,1.646934,16.806405,21.451611,11.759815,115.787869,2.653693,93.246009,2261.805817,5.061076,18.577704,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,1.646934,16.806405,21.451611,11.759815,115.787869,2.653693,93.246009,2261.805817,5.061076,18.577704,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,1.646934,16.806405,21.451611,11.759815,115.787869,2.653693,93.246009,2261.805817,5.061076,18.577704,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,1.646934,16.806405,21.451611,11.759815,115.787869,2.653693,93.246009,2261.805817,5.061076,18.577704,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
ori_matB = pd.read_csv("../disB_fea_mat.csv",index_col=0)
print(ori_matB.shape)

(35245, 322)

In [4]:

print(max(ori_matA.index))
print(len(ori_matA.index.unique()))

4191
265

In [2]:
muti_label = pd.read_csv("../Mesh_files/label_array.csv",index_col=0)
print(muti_label.shape)
muti_label.head()

(4093, 24)

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
postoperative complications,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
brain diseases,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
pain,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
cerebral infarction,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
epilepsy,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
dis_simWithfea = pd.read_csv("../../dis_simWithfea.csv")
print(dis_simWithfea.shape)
dis_simWithfea.head()

(35245, 4)

,Unnamed: 0,disease_A,disease_B,s_AB (observed)
0,0,"abnormalities, multiple",actinomycetales infections,0.810442
1,1,"abnormalities, multiple",adenocarcinoma,0.306936
2,2,"abnormalities, multiple",adnexal diseases,0.366111
3,3,"abnormalities, multiple",adrenal gland diseases,0.649266
4,4,"abnormalities, multiple",albuminuria,0.212946

In [7]:
muti_label_A = pd.DataFrame()
muti_label_B = pd.DataFrame()

for dis in dis_simWithfea["disease_A"]:
    if(dis in ['sleep disorders', 'metabolic syndrome x']):
        muti_label_A=muti_label_A.append(pd.Series([0 for i in range(24)],name=dis,index=muti_label.columns))
    else:
        muti_label_A=muti_label_A.append(muti_label.loc[dis])
    
for dis in dis_simWithfea["disease_B"]:
    if(dis in ['sleep disorders', 'metabolic syndrome x']):
        muti_label_B=muti_label_B.append(pd.Series([0 for i in range(24)],name=dis,index=muti_label.columns))
    else:
        muti_label_B=muti_label_B.append(muti_label.loc[dis])

print(muti_label_A.shape,muti_label_B.shape)

(35245, 24) (35245, 24)

In [8]:
# muti_label_A.to_csv("mesh_label_A.csv")
# muti_label_B.to_csv("mesh_label_B.csv")

In [12]:
muti_label_A.head()

,0,1,10,11,12,13,14,15,16,17,...,21,22,23,3,4,5,6,7,8,9
"abnormalities, multiple",0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"abnormalities, multiple",0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"abnormalities, multiple",0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"abnormalities, multiple",0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"abnormalities, multiple",0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
concat_feaA = pd.concat([ori_matA.reset_index(drop=True),muti_label_A.reset_index(drop=True)],axis=1,ignore_index=True)
print(concat_feaA.shape) # 322+24=346
concat_feaA.head()

(35245, 346)

,0,1,2,3,4,5,6,7,8,9,...,336,337,338,339,340,341,342,343,344,345
0,1.646934,16.806405,21.451611,11.759815,115.787869,2.653693,93.246009,2261.805817,5.061076,18.577704,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.646934,16.806405,21.451611,11.759815,115.787869,2.653693,93.246009,2261.805817,5.061076,18.577704,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.646934,16.806405,21.451611,11.759815,115.787869,2.653693,93.246009,2261.805817,5.061076,18.577704,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.646934,16.806405,21.451611,11.759815,115.787869,2.653693,93.246009,2261.805817,5.061076,18.577704,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.646934,16.806405,21.451611,11.759815,115.787869,2.653693,93.246009,2261.805817,5.061076,18.577704,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
# concat_feaA.to_csv("con_feaA.csv")

In [17]:
concat_feaB = pd.concat([ori_matB.reset_index(drop=True),muti_label_B.reset_index(drop=True)],axis=1,ignore_index=True)
print(concat_feaB.shape) # 322+24=346
# concat_feaB.to_csv("con_feaB.csv")

(35245, 346)

###  concatenate fea_matA,fea_matB

In [20]:
concatAB_fea = pd.concat([concat_feaA,concat_feaB],axis=1,ignore_index=True)
print(concatAB_fea.shape)
concatAB_fea.head()

(35245, 692)

,0,1,2,3,4,5,6,7,8,9,...,682,683,684,685,686,687,688,689,690,691
0,1.646934,16.806405,21.451611,11.759815,115.787869,2.653693,93.246009,2261.805817,5.061076,18.577704,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.646934,16.806405,21.451611,11.759815,115.787869,2.653693,93.246009,2261.805817,5.061076,18.577704,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.646934,16.806405,21.451611,11.759815,115.787869,2.653693,93.246009,2261.805817,5.061076,18.577704,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.646934,16.806405,21.451611,11.759815,115.787869,2.653693,93.246009,2261.805817,5.061076,18.577704,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.646934,16.806405,21.451611,11.759815,115.787869,2.653693,93.246009,2261.805817,5.061076,18.577704,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [21]:
# concatAB_fea.to_csv("con_feaAB.csv")